$xx-tiny-gap: 0.25rem;
$x-tiny-gap: 0.5rem;
$tiny-gap: 1rem;
$x-small-gap: 1.5rem;
$small-gap: 2rem;
$mid-gap: 4rem;
$big-gap: 8rem;
$x-big-gap: 12rem;

// sizing
$xx-tiny: 0.25rem;
$x-tiny: 0.5rem;
$tiny: 1rem;
$x-small: 1.5rem;
$small: 2rem;
$mid: 4rem;
$big: 8rem;
$x-big: 12rem;

$min-width-sm: 768px;

$md-font: large;

$primary: #303030;
$secondary: #808080;
$mid-secondary: #ccc;
$light-secondary: #dddddd;
$white: #ffffff;
$off-white: #faf9f6;
$blue: #10a5f5;
$red: #de0a26;
