$x-tiny-gap: 0.5rem;
$tiny-gap: 1rem;
$small-gap: 2rem;
$mid-gap: 4rem;
$big-gap: 8rem;

$min-width-sm: 768px;

$md-font: large;

$primary: #303030;
$secondary: #808080;
$light-secondary: #dddddd;
$white: #ffffff;
