@import './../../../styles/variables';
@import './../../../styles/mixins';

.link-inputs {
	position: relative;
	display: grid;
	gap: $x-tiny-gap;
	padding: $x-tiny-gap 0;
}

.input-wrapper {
	@include input;
}
