@import '@styles/variables';
@import '@styles/mixins';

.edit-profile__banner {
	width: 100%;
	height: 10rem;

	position: relative;

	.banner__image {
		height: 100%;
		width: 100%;

		object-fit: cover;
	}

	.banner__setting {
		display: flex;
		gap: $x-tiny-gap;
		padding: $xx-tiny-gap $x-tiny-gap;

		position: absolute;
		right: 0;
		bottom: 0;

		transform: translate(0, 100%);

		.setting__icon {
			height: 1.5rem;
			width: 100%;
		}
	}

	.banner__color-picker {
		position: absolute;
		left: 50%;
		top: 3rem;
		transform: translate(-50%, 0);
		z-index: 1;
	}
}
