@import '@styles/mixins';
@import '@styles/variables';

.edit-profile__background {
	background-color: $off-white;
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: -1;
}

.editor__header {
	@include flex-space;
	position: relative;
	padding: $tiny-gap;

	.header__back-action-wrapper {
		.back-action {
			height: 1.25rem;
			width: 100%;
		}
	}

	.header__title {
		font-size: large;
		font-weight: 500;
	}

	.header__save-button {
		background-color: $primary;
		color: $white;

		padding: $xx-tiny-gap $tiny-gap;

		border-radius: 0.25rem;
	}
}

.builder__widget {
	margin: $tiny-gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	padding-right: 20px;

	// pointer-events: none;
	user-select: none;

	.widget__delete-button {
		position: absolute;
		right: 0;
		top: 0;

		.delete-icon {
			height: 1.5rem;
			width: 1.5rem;
			color: $red;
		}
	}
}

.sortable-knob {
	height: fit-content;
	width: fit-content;
	align-self: flex-end;

	overflow: hidden;
	.knob-icon {
		height: 2.5rem;
		width: 4rem;
	}
}

.highlight {
	@include card-shadow;
}
