@import '@styles/variables';
@import '@styles/mixins';

.edit-profile-image__wrapper {
	height: 7rem;

	.edit-profile-picture {
		height: 10rem;
		width: 10rem;
		border-radius: 9999px;
		background-color: $white;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 0.4rem solid $white;
		overflow: hidden;

		.image {
			height: 100%;
			width: 100%;

			object-fit: cover;
		}
	}
}
