@import './../../styles/variables';
@import './../../styles/mixins';

.background {
	background-color: $off-white;
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: -1;
}

.editor {
}

.header {
	@include flex-space;
	position: relative;
	padding: $tiny-gap;

	.back-wrapper {
		.back {
			height: 1.25rem;
			width: 100%;
		}
	}

	.title {
		font-size: large;
		font-weight: 500;
	}

	.save-button {
		background-color: $primary;
		color: $white;

		padding: $xx-tiny-gap $tiny-gap;

		border-radius: 0.25rem;
	}
}

.banner {
	width: 100%;
	height: 10rem;

	position: relative;

	.banner-image {
		height: 100%;
		width: 100%;

		object-fit: cover;
	}

	.banner-setting {
		display: flex;
		gap: $x-tiny-gap;
		padding: $xx-tiny-gap $x-tiny-gap;

		position: absolute;
		right: 0;
		bottom: 0;

		transform: translate(0, 100%);

		.banner-icon {
			height: 1.5rem;
			width: 100%;
		}
	}

	.color-picker {
		position: absolute;
		left: 50%;
		top: 3rem;
		transform: translate(-50%, 0);
		z-index: 1;
	}
}

.wrapper {
	height: 7rem;
}

.profile-picture-wrapper {
	height: 10rem;
	width: 10rem;
	border-radius: 9999px;
	background-color: $white;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -30%);
	border: 0.4rem solid $white;
	overflow: hidden;

	.profile-picture {
		height: 100%;
		width: 100%;

		object-fit: cover;
	}
}

.core-info {
	position: relative;
	display: grid;
	gap: $x-tiny-gap;
	padding: 0 0 $mid-gap;

	.core-input {
		display: flex;
		flex-direction: column;
		gap: $xx-tiny-gap;
		padding: 0 $tiny-gap;

		.label {
			font-size: 0.8rem;
			color: $secondary;

			.label-icon {
				vertical-align: bottom;
			}
		}
		.input {
			padding: $x-tiny-gap;
		}
	}
}
