@import './../../styles/variables';
@import './../../styles/mixins';

.background {
	background-color: $off-white;
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.editor {
	background-color: $white;
}

.header {
	@include flex-space;
	padding: $tiny-gap;

	.back-wrapper {
		.back {
			height: 1.25rem;
			width: 100%;
		}
	}

	.title {
		font-size: large;
		font-weight: 500;
	}

	.save-button {
		background-color: $primary;
		color: $white;

		padding: $xx-tiny-gap $tiny-gap;

		border-radius: 0.25rem;
	}
}

.profile-builder {
	.core-profile {
		.banner {
			width: 100%;
			height: 10rem;

			position: relative;

			.banner-image {
				height: 100%;
				width: 100%;

				object-fit: cover;
			}

			.banner-setting {
				display: flex;
				gap: $x-tiny-gap;
				padding: $xx-tiny-gap $x-tiny-gap;

				position: absolute;
				right: 0;
				bottom: 0;

				transform: translate(0, 100%);

				.banner-icon {
					height: 1.5rem;
					width: 100%;
				}
			}

			.color-picker {
				position: absolute;
				left: 50%;
				top: 3rem;
				transform: translate(-50%, 0);
				z-index: 1;
			}
		}

		.profile-picture {
			height: 10rem;
			width: 10rem;
			border-radius: 9999px;
			background-color: aqua;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -30%);
			border: 0.4rem solid $white;
		}

		.core-info {
			position: relative;
		}
	}
}
